* {
  margin: 0;
}

body {
  overflow: hidden;
}

main {
  background: black;
  transform-origin: top left;
  image-rendering: pixelated;
}

.textbox {
  margin: 4px 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: slideup 0.25s;
}

@keyframes slideup {
  from {
    transform: translate(-50%, 100%);
  }

  to {
    transform: translate(-50%, 0);
  }
}
